# Python cache and env
__pycache__/
*.py[cod]
*.egg-info/
venv/
env/

# Django stuff
*.sqlite3
db.sqlite3
/media/

# Environment variables
.env

# IDE files (optional, depends on your IDE)
.vscode/
.idea/
*.iml

# Logs
*.log
